@model IEnumerable<KanBanDev.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioSenha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioDtCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioDtUltimoAcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioEmailConfirmado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioSituacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioSenha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioDtCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioDtUltimoAcesso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioEmailConfirmado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioSituacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsuarioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UsuarioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UsuarioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
